.visitor-counter {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 1rem auto 0;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.visitor-counter p {
    margin-bottom: 0;
    font-size: 1rem;
}

#visitorCount {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.2rem;
}
